.menuPage{
    background-color: #F0F4F8;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 100px 0px;
    text-align: center;
}

.imgFod{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid #1987E0;
}

.cardContainer{
    margin: 0px 300px;
}

